/* RICHARD SEE */

/* Importing Google Font */
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/*
* - Apply to entire html doc
Name of tag - Apply to all tags with the name
# - Apply to the id
. - Apply to all tags with the class

Padding: Top Right Bottom Left
*/


/* Reset Style. Applied to entire HTML page */
* {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	background-color: #FFFFFF; /* Grey #3F3F3F */
 	font-family: 'Open Sans', sans-serif;
 }

.standardBody {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px 0 40px;
}

.inner {
	width: 100%;
	height: 100%;
/*	min-height: 350px;
	max-height: 350px;
	height: 350px;*/
	position: relative;
}

.spacer {
	padding: 20px 0 20px 0;
	/*background-color: green;*/
}

#height400 {
	height: 400px;
}

.imageFill {
    display: flex; /* A flexbox ensures elements behave predictably when acccomdating different screen sizes */
    justify-content: center; /* Make sure content is centred when the entire image is not used */
    align-items: center;
    overflow: hidden; /* Hide parts of the image that are overflowing out of the container */
}

img { 
	max-width: 100%;
	min-height: 100%; 
	min-width: 100%; 
	object-fit: cover; /* Image will fill the entire container and crop out parts if overflowing */
}

.blur:hover {
	transition: all 0.3s ease;
	filter: blur(7px);
}

p {
	margin: 0;
}

.text {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* 2D translation */
	padding: 0 5px 0 5px;
}

/* --- End General --- */

header {
	width: 100%;
}

#title {
	font-weight: 900; /* Boldest weight */
	text-align: center;
	font-size: 300%;
	color: #000000;
	padding: 40px 0 20px 0;
	/*background-color: red;*/
}

/* --- End Title --- */

/* PUT THIS IN LATER */
/*#title a {
	text-decoration: none; /* Remove the underline 
}*/

/* START menu-icon for mobile site START */
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
/* END menu-icon for mobile site END */

ul {
	list-style-type: none; /* No bullet point style markers */
	text-align: center;
	padding-top: 20px 0 20px 0;
	/*background-color: blue;*/
}

nav ul li {
	font-size: 120%;
	display: inline-block; /* Display list across instead of down */
}

nav ul li a {
	font-weight: 500;
	text-decoration: none; /* Remove the underline */
	color: #000000;
	padding: 0 25px 0 25px;
}

nav ul li a:hover {
	color: #D64D00;
}

/* Change the colour of the current page header link to indicate what page user is on */
/*.current {
	color: #C3D7DF;
}*/

/* --- End Navigation --- */

#banner {
	/*background: url("img/eyes2.JPG") no-repeat center;*/
	/*display: absolute;*/
	height: 120px;
	width: 100%; 
}

/* --- End Banner --- */

.borderThirdLeft {
	/*background-color: orange;*/
	width: 25%;
	margin-right: 2%;
	float: left;
	height: 400px;
}

.borderThirdCenter {
	/*background-color: grey;*/
	width: 42%;
	margin: 0 2% 0 2%;
	float: left;
	height: 400px;
}

.borderThirdRight {
	/*background-color: teal;*/
	width: 25%;
	margin-left: 2%;
	float: left;
	height: 400px;
}

.borderPadding {
	background-color: white;
	color: white;
	width: 40px;
	float: left;
}








@media screen and (max-width: 768px) {
    * {
	 	background-color: #252525;
 	}

	#title {
		color: #FFFFFF;

	}

	nav ul li a {
		color: #FFFFFF;
	}

	p {
		background-color: #FFFFFF;
	}
}






/* Body */
/*body {
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}

h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color: #F5F5F5;
}

h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;  Padding 5% top and bottom, 0 left and right 
	font-weight: 400;
	color: #F5F5F5;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #F5F5F5;
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}*/




















